:8080 {
	handle /.ghost/activitypub/* {
		reverse_proxy {$ACTIVITYPUB_TARGET} {
			header_up Host {upstream_hostport}
		}
	}

	handle /.well-known/webfinger {
		reverse_proxy {$ACTIVITYPUB_TARGET} {
			header_up Host {upstream_hostport}
		}
	}

	handle /.well-known/nodeinfo {
		reverse_proxy {$ACTIVITYPUB_TARGET} {
			header_up Host {upstream_hostport}
		}
	}

	handle {
		reverse_proxy {$GHOST_UPSTREAM} {
			header_up Host {host}
			header_up X-Forwarded-Host {host}
			header_up X-Forwarded-Proto https
			header_up X-Forwarded-For {remote_host}
		}
	}
}
